<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.ib.web.dao.IbUserDao">

    <!--获取所有用户-->
    <select id="listAllUser" resultType="com.test.ib.web.pojo.tb.IbUser">
        select
        id userId,account,user_name,sex
        from ib_user
    </select>

</mapper>